body
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic25.jpg);
    background-size: cover;
    background-position:center;
    color:#ffff !important;
}
.services
{
    margin: 90px auto;
    text-align: center;
}
h1,p
{
font-family: sans-serif;
letter-spacing: 1px;
}
.btn
{
    border-radius: 50px;
    color:white;
    margin-top: 50px;
    padding:10px;
    background-color:crimson;
    font-size: 20px;
    border: none;
    cursor: pointer; 

}
a{
    color:#fff;
    text-decoration: none;
    padding: 8px 24px;
    font-family: poppins;
    font-size: 20px;
}
a:hover{
    background:pink;
    color:#333;
}